body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.sabah{
    background-color: red;
    width: 25%;
    height: 35vh;
}
h1{
    background-color: blue;
}
img{
    width: 100%;
}